<link href="/css/error.css" rel="stylesheet" type='text/css'>
	
<div class="error-page-wrap">
	<article class="error-page gradient">
		<hgroup>
			<h1><%=Error_Code%></h1>
			<h2><%=Error_Message%></h2>
		</hgroup>
		<a href="#" title="Back to site" class="error-back"><!-- back --></a>
	</article>
</div>
